.slider{
  position: relative;
  width: 80%;
  height: 80vh;
  margin: 50px auto;
  .btn-previos{
    position: absolute;
    font-size: 30px;
    left: 0;
    top: 50%;
  }
  .btn-next{
    position: absolute;
    font-size: 30px;
    right: 0;
    top: 50%;
  }
}